body{
  background-color:	#181818;
  font-family:Google Sans;
   align-items:center;
}

#div_1{
	float:right;
}

ul{
	list-style:none;
}

#bar li{
	width:50px;
	display: inline-block;
	padding: 10px;
	color:white;
}

#bar #sign_in { 
	width:80px;
	text-align:center;
     color:white;
	 border:1px solid white;
	
	 border-radius:15px;
	 font-weight: bold;
     background: #4887ef; 
	 
}



#div_2{
	  padding:10% ;
      /* text-align:center; */
	  color:white;
}

#searchbar{
	width:40%;
	margin:auto;
	height:40px;
	border-radius:50px;
	border-color:white;
	background-color:rgb(27, 27, 27, 10%);
	color:white;
	text-indent:20px;
	
}


#button{
	color:white;
	width:80px;
	height:35px;
	border-radius:50px;
	float:right;
	background-color:blue;
}




#div_3{
	padding:10px;
	text-align:center;
	display:inline-block;

	
}


#submit_button{ 
   
}

input:hover{  
    border: 2px solid #white;
	 color:#000;
   
}


#links{
	color:white;

}

a{
	color:white;
	text-decoration:none;
	padding: 7px;
}
#Bottomdiv{
  display:flex;
  font-size: 12px;
  padding-left:25%;
}

#Bottomdiv a{
	color:#0066CC;
}

}
a:hover{
	text-decoration:underline;
}

img{
	width:20%;
	margin:auto;
	
}

p{
font-size: 15px;
color:white;
}


#div_4{
  position: fixed;
  width: 100%;
  bottom: 3px ;
 	}
	
.footleft li{
	color:#303030;
	font-family: arial,sans-serif;
	display:inline-block;
	font-size:12px;
}


#signin{
	text-align : center;
	width:80px;
	margin-top:8px;
	border:1px solid white;
	border-radius:10px;
	float:right;
	background-color :#4887ef;
}
