body
{ 
  background-color:#D17171;
  margin:100px;
  text-align: center;
}

  form
  { 
  border:6px solid #797979 ;
  border-style: dashed ;
   }
 
 h1
 { 
 font-family:Dancing Script; 
 font-size:70px;
 text-shadow: 2px 3px 2px black ;
 }
 
 label
 {
	 font-size:40px;
 }
 
 input
 {
	 height:35px;
	 
 }
  
  input:hover { 
  color:white;
   background-color : #303030;
  }