body{
	font-family:Google Sans;
	width:100%;
	background-color: #282828;
	margin:auto;
	position:relative;
	
}

#bar  {
	float:right;
	display:inline-block;
	padding:0px 10px 0px 0px;
}

#bar li{
	list-style: none;
	color: white;
	padding:10px;
    
}

 a{
	color:white;
	text-decoration:none;
	padding:5px;
}

#bar a:hover{
	text-decoration: underline;
}


#sign_in_button{
	width: 70px;
	height: 25;	
	padding:5px;	
	text-align:center;
	background-color: #4887ef;	
	border:1px solid grey;	
	border-radius: 8px;	 
}



#div_2{
	
	padding: 15% ;
	padding-bottom:0%;
	
	
}



#searchbar{
	width:330px;
	height:40px;
	border-style:none;
	border-radius:3px;
	text-indent:5px;
}
	
#d21{
	background-color:white;
	width:400px;
	height:40px;
    padding-left: 10px;
	padding-right: 40px;
	padding-bottom:0%;
	border: 1px solid white;
	border-radius: 25px;
}

#div_3
{
  align-items:center;
}

 ul{
     color:#3399FF;

}

p{
 color:grey;
 padding-left:40px;
 font-size:25px;
}

#div_4
{
	padding-top:13%;
	float:left;
}

.footleft li{
	padding: 5px 10px 0px 15px;
	list-style:none;
	float:left;
	
}























/* footer { */
/* /*    bottom: 0; */
   /* postion: absolute; */ */
   /* position:absolute; */
   /* bottom:0; */
   /* width:100%; */
   /* height:60px; */
 /* } */
  
 /* footer ul { */
   /* float: none; */
   /* padding-bottom: 2px; */
    
 /* } */
  
 /* .footer-left { */
   /* text-align: center; */
   /* margin: auto;  */
   /* padding-top: 10px; */
    
 /* } */
  
 /* .footer-right { */
   /* float: none; */
   /* text-align: center; */
   
 /* } */
/* } */